--- 
layout: base 
---

<main class="p-4 md:p-6">
    <div class="py-6 bg-[#0D171A]">
        <div class="mx-auto w-full max-w-[1800px]">
            <header class="mb-12 px-12 py-6">
                <img src="/images/logo.png" width="180"/>
            </header>
            <div class="py-6">
                {{ content | safe }}
            </div>
        </div>
    </div>
</main>