--- 
layout: page 
title: Home 
---
<div class="px-12 min-h-[50vh] xl:min-h-[30vh]">
    <h1 class="text-5xl font-semibold mb-16">Renewable energy is the
        <span class="text-[#87BCCA]">future</span>. Join us.</h1>
    <p class="text-xl leading-relaxed max-w-4xl">
        
    </p>
</div>
<!--
<div class="lg:flex mt-16 flex-wrap min-h-[40vw] xl:min-h-[20vw]">
    <div class="flex-1 lg:w-1/2  bg-[#142326] px-12 py-20" style="background-image: url(/images/solar-bg.jpg); background-repeat: no-repeat; background-size: cover; background-position: bottom;">
        <h1 class="text-5xl font-semibold mb-12">Solar panels</h1>
        <p class="text-xl leading-relaxed max-w-4xl">
            The sun's energy is free. You could take advantage of that. Solar panels make it possible to become less reliant on the electricity grid and more reliant on the sun.
        </p>
    </div>
    <div class="flex-1 lg:w-1/2 bg-[#45A2B5] text-[#060C0D] px-12 py-20">
        <h1 class="text-5xl font-semibold mb-12 ">Control units</h1>
        <p class="text-xl leading-relaxed max-w-4xl">
            Solar panels are the first part of the puzzle. Control units give you the ability to maange and store the energy you get from them.
        </p>
    </div>
</div>
<div class="lg:flex flex-wrap min-h-[40vw] xl:min-h-[20vw]">
    <div class="flex-1 lg:w-1/2 bg-[#67B254] text-[#060C0D] px-12 py-20">
        <h1 class="text-5xl font-semibold mb-12 ">Wind turbines</h1>
        <p class="text-xl leading-relaxed max-w-4xl">
            It turns out the wind is full of energy. Sailors figured that our ages ago. Why don't pople in hoses use the same energy to supplement their reliance on the grid.
        </p>
    </div>
    <div class="flex-1 lg:w-1/2 bg-[#142326] px-12 py-20">
        <h1 class="text-5xl font-semibold mb-12">Consulting</h1>
        <p class="text-xl leading-relaxed max-w-4xl">
            Not sure where to start. We offer a free, no commitment, intial consultation to help cut through all the confusion. We understand the technology and you can ask us anything. 
        </p>
    </div>
</div>
-->
<div class="min-h-[10px] bg-[#45A2B5] max-w-4xl mx-auto my-20"></div>

<div class="px-12">
    <h1 class="text-5xl font-semibold mb-16">***WEBSITE UPDATE COMING SOON***</h1>
    <p class="text-xl leading-relaxed max-w-4xl">
        Send us your details and an outline of what you're trying to achieve and we'll get in touch. gareth@renutek.co.nz
    </p> 
</div>

<div class="min-h-[100px]"></div> 
